<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Footer Layout</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/ThietKeWebBTL/assets/css/footer.css">
  <link rel="stylesheet" href="/ThietKeWebBTL/assets/css/base.css">
  
</head>

<body>
  <!--footer start-->
  <footer>
    <div id="footer" class="footer-wrap" style="background-color: #fff;">
      <div class="container-fluid first_class">
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <h3>HÃY LÀ NGƯỜI ĐẦU TIÊN BIẾT</h3>
            <p>Nhận tất cả thông tin mới nhất về Dịch vụ, Sự kiện, Việc làm và Hội chợ của Triedge.
              Đăng ký nhận bản tin của chúng tôi ngày hôm nay..</p>
          </div>
          <div class="col-md-4 col-sm-6">
            <form class="newsletter">
              <input type="text" placeholder="Email">
              <button class="newsletter_submit_btn" type="submit"><i class="fa fa-paper-plane"></i></button>
            </form>

          </div>
          <div class="col-md-4 col-sm-6">
            <div class="col-md-12">
              <div class="standard_social_links">
                <div>
                  <li class="round-btn btn-facebook"><a href="#"><i class="fab fa-facebook-f"></i></a>

                  </li>
                  <li class="round-btn btn-linkedin"><a href="#"><i class="fab fa-linkedin-in"
                        aria-hidden="true"></i></a>

                  </li>
                  <li class="round-btn btn-twitter"><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>

                  </li>
                  <li class="round-btn btn-instagram"><a href="#"><i class="fab fa-instagram"
                        aria-hidden="true"></i></a>

                  </li>
                  <li class="round-btn btn-whatsapp"><a href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a>

                  </li>
                  <li class="round-btn btn-envelop"><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>

                  </li>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12">
              <h3 style="text-align: right;">Giữ liên lạc</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="second_class">
        <div class="container second_class_bdr">
          <div class="row">
            <div class="col-md-4 col-sm-6">
              <div class="footer-logo"><img src/ThietKeWebBTL/assets/images/logo.png" style="width: 250px;" alt="logo">
              </div>
              <p>Trang Website quảng bá tin tức, thương hiệu,....</p>
            </div>
            <div class="col-md-2 col-sm-6">
              <h3>Links</h3>
              <ul class="footer-links">
                <li><a href="#">Trang chủ</a>
                </li>
                <li><a href="#">Về chúng tôi</a>
                </li>
                <li><a href="#">Cửa hàng</a>
                </li>
                <li><a href="#">Bài viết</a>
                </li>
                <li><a href="#" target="_blank">Liên hệ</a>
                </li>
                <li><a href="#" target="_blank">Phòng trưng bày</a>
                </li>
                <li><a href="#">FAQ</a>
                </li>
              </ul>
            </div>
            <div class="col-md-3 col-sm-6">
              <h3>Chính sách - quy định</h3>
              <ul class="footer-category">
                <li><a href="#">Chính sách vận chuyển, giao nhận</a>
                </li>
                <li><a href="#">Chính sách trả, hủy dịch vụ và hoàn tiền</a>
                </li>
                <li><a href="#">Chính sách bảo hành</a>
                </li>
                <li><a href="#">Quy định và hình thức thanh toán</a>
                </li>
                <li><a href="#">
                    Chính sách bảo mật thông tin</a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="col-md-3 col-sm-6">
              <h3>Sự kiện</h3>
              <ul class="footer-links">
                <li><a href="#">Sự kiện</a>
                </li>

                <li><a href="#">Việc làm &AMP; Hội chợ thực tập 2024</a>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>

      <div class="row">

        <div class="container-fluid">
          <div class="copyright" style="background-color: #fff;"> Copyright 2024 | All Rights Reserved by SMART BRAIN
            Team.</div>
        </div>

      </div>
    </div>

  </footer>

  <!--footer end-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <!-- Font Awesome 5 links-->
  <script src="https://kit.fontawesome.com/fddf5c0916.js" crossorigin="anonymous"></script>
</body>

</html>