<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/offer.css">
    <!-- FontAwesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <!-- Boostrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <div id="offer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <header class="offer__header">Khám Phá Các Ưu Đãi Hấp Dẫn</header>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 offer__container">
                    <button class="offer__item">
                        <div class="offer__Box">
                            <img src="/assets/images/offer/Healthcare.png" alt="">
                        </div>
                        <p class="offer__item--name">Chăm sóc sức khỏe</p>
                    </button>
                    <button class="offer__item">
                        <div class="offer__Box">
                            <img src="/assets/images/offer/Sport.png" alt="">
                        </div>
                        <p class="offer__item--name">Thể thao</p>
                    </button>
                    <button class="offer__item">
                        <div class="offer__Box">
                            <img src="/assets/images/offer/Appliance.png" alt="">
                        </div>
                        <p class="offer__item--name">Gia dụng</p>
                    </button>
                    <button class="offer__item">
                        <div class="offer__Box">
                            <img src="/assets/images/offer/Electronics.jpg" alt="">
                        </div>
                        <p class="offer__item--name">Thiết bị điện tử</p>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <header class="offer__header">Khám Phá Các Sản Phẩm Nổi Bật</header>
                </div>
            </div>
            <div class="container-fluid offer_background" id="productList">
                <div class="row">
                    <div class="col-md-4">
                        <div class="img-box-offer">
                            <img src="/assets/images/offer/Healthcare_Blackmore_vitamin.png" alt="" class="img-box--IMG">
                            <span class="img-box--Title">Viên uống Blackmores multivitamin + energy</span>
                            <span class="img-box--Note">Ưu đãi 10%</span>
                            <div class="btnBoxOffer">
                                <button class="btn btn-dark btnBox--right">Xem ngay</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="img-box-offer">
                            <img src="/assets/images/offer/Healthcare_DHCvitamin.png" alt="" class="img-box--IMG">
                            <span class="img-box--Title">Viên uống DHC vitamin tổng hợp</span>
                            <span class="img-box--Note">Ưu đãi 10%</span>
                            <div class="btnBoxOffer">
                                <button class="btn btn-dark btnBox--right">Xem ngay</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="img-box-offer">
                            <img src="/assets/images/offer/Healthcare_OneADay.png" alt="" class="img-box--IMG">
                            <span class="img-box--Title">Viên uống bổ sung vitamin One A Day</span>
                            <span class="img-box--Note">Ưu đãi 10%</span>
                            <div class="btnBoxOffer">
                                <button class="btn btn-dark btnBox--right">Xem ngay</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="img-box-offer">
                            <img src="/assets/images/offer/Sport_RunningShoe.png" alt="" class="img-box--IMG">
                            <span class="img-box--Title">Giày chạy bộ XTEP GCJ10</span>
                            <span class="img-box--Note">Ưu đãi 10%</span>
                            <div class="btnBoxOffer">
                                <button class="btn btn-dark btnBox--right">Xem ngay</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="img-box-offer">
                            <img src="/assets/images/offer/Sport_Clothes.png" alt="" class="img-box--IMG">
                            <span class="img-box--Title">Bộ đồ thể thao YODY</span>
                            <span class="img-box--Note">Ưu đãi 10%</span>
                            <div class="btnBoxOffer">
                                <button class="btn btn-dark btnBox--right">Xem ngay</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="img-box-offer">
                            <img src="/assets/images/offer/Sport_Bike.png" alt="" class="img-box--IMG">
                            <span class="img-box--Title">Xe đạp Giant 610</span>
                            <span class="img-box--Note">Ưu đãi 10%</span>
                            <div class="btnBoxOffer">
                                <button class="btn btn-dark btnBox--right">Xem ngay</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="img-box-offer">
                            <img src="/assets/images/offer/Appliance_BoNoi_Inox.png" alt="" class="img-box--IMG">
                            <span class="img-box--Title">Bộ nồi inox Arber AB-06CC</span>
                            <span class="img-box--Note">Ưu đãi 10%</span>
                            <div class="btnBoxOffer">
                                <button class="btn btn-dark btnBox--right">Xem ngay</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="img-box-offer">
                            <img src="/assets/images/offer/Appliance_Cooker.png" alt="" class="img-box--IMG">
                            <span class="img-box--Title">Nồi cơm điện Supor 1,5 lít</span>
                            <span class="img-box--Note">Ưu đãi 10%</span>
                            <div class="btnBoxOffer">
                                <button class="btn btn-dark btnBox--right">Xem ngay</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="img-box-offer">
                            <img src="/assets/images/offer/Appliance_Refrigator.png" alt="" class="img-box--IMG">
                            <span class="img-box--Title">Tủ lạnh 4 cửa Inverter Coex RM-4006MSG 474L</span>
                            <span class="img-box--Note">Ưu đãi 10%</span>
                            <div class="btnBoxOffer">
                                <button class="btn btn-dark btnBox--right">Xem ngay</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="img-box-offer">
                            <img src="/assets/images/offer/Electronics_Phone.png" alt="" class="img-box--IMG">
                            <span class="img-box--Title">Samsung Galaxy Z Fold 5 Chính hãng 12GB/256GB</span>
                            <span class="img-box--Note">Ưu đãi 10%</span>
                            <div class="btnBoxOffer">
                                <button class="btn btn-dark btnBox--right">Xem ngay</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="img-box-offer">
                            <img src="/assets/images/offer/Electronics_AppleWatch.jpg" alt="" class="img-box--IMG">
                            <span class="img-box--Title">Apple Watch Series 9</span>
                            <span class="img-box--Note">Ưu đãi 10%</span>
                            <div class="btnBoxOffer">
                                <button class="btn btn-dark btnBox--right">Xem ngay</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="img-box-offer">
                            <img src="/assets/images/offer/Electronics_Laptop.jpg" alt="" class="img-box--IMG">
                            <span class="img-box--Title">Laptop ROG Zephyrus M16</span>
                            <span class="img-box--Note">Ưu đãi 10%</span>
                            <div class="btnBoxOffer">
                                <button class="btn btn-dark btnBox--right">Xem ngay</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>