body {
    font-family: Arial, sans-serif;
}

h2{
    padding: 20px;
}

.product-card{
    border-radius: 20px;
}

.product-img {
    height: 200px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.btn-heart, .btn-view {
    margin-top: 10px;
    margin-right: 12px;
    border-radius: 20px;
}

.btn-heart {
    background-color: #ff6666;
    color: white;
    margin-left: 60px;
}

.btn-heart1 {
    background-color: #ff6666;
    color: white;
    margin-left: 75px;
}

.btn-view1 {
    background-color: #3333ff;
    color: white;
}

.btn-view {
    background-color: #3333ff;
    color: white;
}

.btn-heart:hover, .btn-view:hover {
    opacity: 0.8;
}

.card-title {
    font-size: 16px;
    font-weight: bold;
}

.card-text {
    font-size: 14px;
    color: #555;
}

/* Responsive Design */
@media (max-width: 768px) {
    .product-card {
        margin-bottom: 20px;
        border-radius: 10px;
    }

    .btn-heart, .btn-view {
        width: 100%;
        margin-bottom: 10px;
    }
}
